* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}


body {
  height: 100%;
  width: 100%;
}

// .header {
//   height: 50px;
//   width: 100%;
//   background-color: black;
//   &__box {
//     font-family: 'Lobster', cursive;
//     height: 40px;
//     width: 150px;
//     color: green;
//     line-height: 40px;
//     font-size: 30px;
//     margin: 0 auto;
//   }
// }

.contents {
  height: 100%;
  background-color: black;
  text-align: center;
  &__title {
    height: 150px;
    line-height: 150px;
    font-size: 100px;
    margin-bottom: 20px;
    color: #7CFC00	;
  }
  &__text {
    width: 1000px;
    height: 400px;
    font-size: 300px;
    line-height: 400px;
    background-color: black;
    color: #7CFC00	;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  &__select {
    font-size: 30px;
  }
  &__box1 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__submit {
    font-size: 25px;
    width: 300px;
    height: 50px;
    box-shadow: 0 0 10px #7CFC00;
    background-color: black;
    color: #7CFC00	;
    border-radius: 30px;
  }

  &__box2 {
    color: yellow;
    font-size: 25px;
    margin-top: 20px;
  }

  &__box3 {
    color: yellow;
    font-size: 25px;
  }
}

  
